.footer{
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    /* background: url(../assets/footer.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}