*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.navigation {
    padding: 8px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px; */
}
.dashbordButton{
    margin: 10px 0px;
    padding: 4px 20px;
    border: 2px solid transparent;
    background-color: #001E3C;
    transition: all 0.4s ease-in-out;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.dashbordButton:hover{
    margin: 10px 0px;
    transition: all 0.4s ease-in-out;
    background-color: white;
    color: #001E3C;
    font-weight: 700;
    border: 2px solid #001E3C;
}
.dropdownn{
    margin-top:10px ;
    margin-left: -120px!important;
    z-index: 1000;
}
.dropdownn li{
    padding-top:5px;
}
